<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/admin/assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/customers">
                    <i class="icon material-icons md-group"></i>
                    
                    <span class="text">Customers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products-list">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
               
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Catogory</span>
                </a>
               
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-star"></i>
                    <span class="text">Return Request</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Banners</span>
                </a>
           
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
    </nav>
</aside>