<%- include('../layout/user/header.ejs') -%>

  <div class="pageWrapper">
    <%-include('../partials/userNavbar')-%>


      <style>
        input[type="email"] {
          width: calc(100% - 20px);
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 15px;
          box-sizing: border-box;
        }

        input[type="email"]:focus {
          outline: none;
          border-color: black;
          box-shadow: 0 0 5px black;
        }

        input[type="submit"] {
          background-color: black;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
          background-color: #333;
        }

        a {
          color: black;
          text-decoration: none;
        }

        a:hover {
          color: #333;
        }

        .contact-form {
          max-width: 400px;
          max-height: 400px;
          border-radius: 15px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
          padding: 20px;
        }
      </style>

      <div id="page-content">
        <div class="page section-header text-center">
          <div class="page-title">
            <div class="wrapper">
              <h1 class="page-width">Forgot Password</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row login-form" style="display: flex; align-items: center;">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 pt-5 d-flex justify-content-center">
              <div class="contact-form">
                <div class="text-center">
                  <div class="text text-align text-danger mb-3" id="emailErrorMessage" style="display: none;">
                    <strong>Please enter email!</strong>
                  </div>
                  <form method="post" action="/forgot-password" onsubmit=" return emailValidation()" class="p-0">
                    <div class="text-center">
                      <%if(messages.noUser) {%>
                        <div class="text text-align text-danger mb-3">
                          <strong><span>
                              <%= messages.noUser %>..!
                            </span></strong>
                        </div>
                        <%}%>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
                        <div class="form-group">
                          <input type="email" name="email" placeholder="Enter Your Email" id="forgot-email"
                            class="bg-white" autocorrect="off" autocapitalize="off" autofocus="">
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group text-center">
                          <input type="submit" class="btn mb-1" value="Send Link" id="sendButton">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>

  <script src="user/assets/js/custom/forgotPassword.js"></script>

  <%- include('../layout/user/footer.ejs') -%>