<%- include('../layout/user/header.ejs') -%>

<div class="pageWrapper">

  <style>

    input[type="email"],
    input[type="password"] {
      width: calc(100% - 20px);
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }

    input[type="email"]:focus,
    input[type="password"]:focus {
      outline: none;
      border-color: black;
      box-shadow: 0 0 5px black;
    }

    input[type="submit"] {
      background-color: black;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
      background-color: #333;
    }

    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      color: #333;
    }

    .form-container {
      background-color: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
      padding: 20px;
      margin: auto;
      max-width: 350px;
    }
    .btn {
border-radius: 5px;
    }

  </style>

  <div id="page-content">

    <div class="page section-header text-center">
      <div class="page-title">
        <div class="wrapper">
          <h1 class="page-width">Change Password</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row login-form d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-lg-6 main-col  pt-5 ">
          <div class="form-container">
            <form method="post" action="/reset-password" id="changePasswordForm" onsubmit="return checkPassword()" class="contact-form">
                <div id="errorMessage" class="error-message text-center mb-3 text-danger" style="display: none;"></div>
              <table cellspacing="0" cellpadding="0">
                <tr >
                  <!-- <td><label for="newPassword">New Password:</label></td> -->
                  <td class="pt-2"><input type="password" id="newPassword" name="newPassword" placeholder="New Password" required></td>
                </tr>
                <tr>
                  <!-- <td><label for="confirmPassword">Confirm Password:</label></td> -->
                  <td><input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required></td>
                </tr>
                <tr>
                  <input type="hidden" name="userId" value="<%= userId %>">
                  <input type="hidden" name="token" value="<%= token %>">
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="error-message test-danger" id="errorMessage"></div>
                  </td>
                </tr>
              </table>
              <div class="buttons d-flex justify-content-around ">
                <button type="submit p-1" class="btn">Update</button>
                <a href="/login" class="btn border-3">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  function checkPassword() {
    var newPassword = document.getElementById('newPassword').value;
    var confirmPassword = document.getElementById('confirmPassword').value;
    var errorMessage = document.getElementById('errorMessage');

    errorMessage.innerHTML = '';
    errorMessage.style.display = 'none';

    if (newPassword.trim() === '' || confirmPassword.trim() === '') {
        errorMessage.innerHTML = 'Please fill in all fields.';
        errorMessage.style.display = 'block';
        setTimeout(function () {
            errorMessage.style.display = 'none';
        }, 3000);
        return false;
    }

    if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/.test(newPassword)) {
        errorMessage.innerHTML = 'Password must contain at least one lowercase letter, one uppercase letter, one digit, and be at least 6 characters long.';
        errorMessage.style.display = 'block';
        setTimeout(function () {
            errorMessage.style.display = 'none';
        }, 3000);
        return false;
    }

    if (newPassword !== confirmPassword) {
        errorMessage.innerHTML = 'Passwords do not match.';
        errorMessage.style.display = 'block';
        setTimeout(function () {
            errorMessage.style.display = 'none';
        }, 3000);
        return false;
    }

    return true;
}

  </script>

  
  <%- include('../layout/user/footer.ejs') -%>

</div>
